<media-player
  class="aspect-video w-full rounded-2xl"
  #player
  [title]="lessonTitle()"
  load="play"
  poster-load="visible"
  view-type="video"
  playsinline
  [autoPlay]="false"
  [poster]="posterUrl()"
  crossOrigin="true"
  hideControlsOnMouseLeave="true"
  [storage]="'video-player'"
  [canGoogleCast]="false"
  [canPictureInPicture]="false"
  [canAirPlay]="false"
  stream-type="on-demand"
  dir="ltr"
  (timeUpdate)="handleTimeUpdate($event)"
  (ended)="handleEnded()"
  (canPlay)="handleCanPlay()"
  [title]="lessonTitle()"
>
  <media-provider>
    <media-poster
      [alt]="lessonTitle()"
      class="vds-poster"
    ></media-poster>
    <source [src]="videoUrl()" />
  </media-provider>
  @if (thumbnailsUrl()) {
    <media-video-layout [thumbnails]="thumbnailsUrl()"></media-video-layout>
  }
  <media-video-layout no-pip></media-video-layout>
  <!-- <media-plyr-layout></media-plyr-layout> -->
</media-player>
