<button
  class="bg-surface border-border rounded-card relative border transition-all duration-300"
  (click)="select.emit(data().id)"
  [class]="
    'flex flex-1 cursor-pointer flex-col rounded-3xl border-2 p-7 text-end ' +
    (selected()
      ? 'border-primary shadow-[0_0_8px_4px_var(--color-primary-glow)]'
      : 'border-border hover:-translate-y-1')
  "
>
  <div class="mb-5 flex items-start justify-between">
    <div
      class="flex h-12 w-12 items-center justify-center rounded-2xl text-xl"
      [class]="data().isFawry ? 'bg-primary/15 text-primary-light' : 'bg-star/15 text-star'"
    >
      <ng-icon [name]="data().icon"></ng-icon>
    </div>
  </div>

  <div class="text-ink mb-2 flex justify-between text-lg font-black">
    {{ data().name }}
    <span
      class="rounded-full px-3 py-1 text-xs font-black"
      [class]="data().isFawry ? 'bg-mint/15 text-mint' : 'bg-star/15 text-star'"
    >
      {{ data().badge }}
    </span>
  </div>
  <p class="text-muted mb-5 text-sm leading-relaxed">{{ data().desc }}</p>

  <div class="bg-border mb-5 h-px w-full"></div>

  <div class="text-ink-subtle space-y-2 text-xs font-bold">
    @for (feat of data().features; track feat) {
      <div class="flex items-center gap-2">
        <ng-icon
          name="bootstrapCheckCircleFill"
          [class]="data().isFawry ? 'text-mint' : 'text-star'"
        >
        </ng-icon>
        {{ feat }}
      </div>
    }
  </div>
</button>
