@if (configService.errorMessage()) {
  <div
    animate.enter="enter-fade-up"
    animate.leave="leave-fade-up"
    class="min-h-screen flex flex-col items-center justify-center gap-4"
  >
    <ng-icon name="lucideFileExclamationPoint" style="color: var(--coral)"></ng-icon>
    <p class="text-xl font-bold" style="color: var(--coral)">
      {{ configService.errorMessage() }}
    </p>
  </div>
} @else {
  <!-- <app-cursor /> -->
  <app-stars-canvas />

  <app-navbar></app-navbar>

  <main style="margin-top: 65px">
    <router-outlet />
  </main>
  @if (isAuthenticated()) {
    <app-ai-chat-component
      animate.enter="enter-fade-up"
      animate.leave="leave-fade-up"
    ></app-ai-chat-component>
  }
  <app-footer></app-footer>
}
