@if (configService.errorMessage()) {
  <div class="flex min-h-dvh flex-col items-center justify-center gap-4">
    <ng-icon
      class="text-coral"
      name="lucideFileExclamationPoint"
    />
    <p class="text-coral text-xl font-bold">
      {{ configService.errorMessage() }}
    </p>
  </div>
} @else {
  <!-- <app-cursor /> -->
  <app-stars-canvas />

  <app-navbar></app-navbar>

  <main class="mt-16.25">
    <router-outlet />
  </main>
  <!-- @if (isAuthenticated()) {
    <app-ai-chat-component
    ></app-ai-chat-component>
  } -->
  <app-footer></app-footer>
}
