<div
  class="mb-6 flex flex-wrap items-center gap-3"
  ngmMotion
  [initial]="{ opacity: 0, y: 10 }"
  [animate]="{ opacity: 1, y: 0 }"
  [transition]="{ type: 'spring', stiffness: 280, damping: 26, delay: 0.1 }"
>
  <!-- Search -->
  <!-- <div
    class="focus-within:border-primary-light flex h-10.5 min-w-full flex-1 items-center gap-2 rounded-xl px-3 transition-colors duration-200 sm:min-w-55"
    style="background: var(--color-surface-subtle); border: 1.5px solid var(--color-border)"
  >
    <ng-icon
      name="bootstrapSearch"
      class="text-muted shrink-0 text-sm"
    ></ng-icon>
    <input
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      type="text"
      placeholder="ابحث عن درس..."
      autocomplete="off"
      class="font-font flex-1 bg-transparent text-sm outline-none"
    />
  </div> -->

  <app-search-input
    [(content)]="searchQuery"
    class="flex-1"
    placeholder="ابحث عن درس..."
  ></app-search-input>

  <!-- Status filter -->
  <div class="relative">
    <select
      [(ngModel)]="statusFilter"
      (change)="onStatusChange()"
      class="text-ink bg-surface-subtle border-border focus:border-primary-light rounded-card h-10.5 w-full cursor-pointer appearance-none border-[1.5px] px-3 pe-8 text-xs transition-colors duration-200 outline-none"
    >
      <option value="all">كل الحالات</option>
      <option value="active">نشط</option>
      <option value="hidden">مخفي</option>
      <option value="drafted">مسودة</option>
    </select>

    <ng-icon
      name="bootstrapChevronDown"
      class="text-ink-subtle pointer-events-none absolute inset-e-3 top-1/2 -translate-y-1/2 text-xs"
    ></ng-icon>
  </div>

  <!-- Upload button -->
  <div class="relative">
    <button
      routerLink="upload-materials"
      class="text-ink-subtle border-border hover:text-ink bg-surface block h-10.5 w-28 items-center gap-2 rounded-3xl border px-4 text-start text-sm font-bold whitespace-nowrap no-underline transition-all duration-150"
    >
      رفع مواد
    </button>
    <ng-icon
      name="bootstrapCloudUpload"
      class="absolute inset-e-5 top-1/2 -translate-1/2 text-sm"
    ></ng-icon>
  </div>

  <!-- Add lesson button -->
  <a
    routerLink="add"
    class="bg-primary flex h-10.5 items-center gap-2 rounded-3xl px-4 text-sm font-bold whitespace-nowrap text-white no-underline transition-all duration-150 hover:-translate-y-px hover:opacity-90"
  >
    <ng-icon
      name="bootstrapPlusLg"
      class="text-sm"
    ></ng-icon>
    إضافة درس جديد
  </a>
</div>
